/* BASIC STYLES HERE */

.my-header {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.my-header-text {
  z-index: 1;
  margin-left: .5em;
}

.my-logo {
  position: absolute;
  z-index: 0
}

.buy-button {
  position: fixed;
  right: 10px;
}

.my-img {
  height: 25vh;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: .5em;
  width: 100%;
  position: relative;
}